<div class="panel panel-info">
    <div class="panel-heading">
        <i class="fa fa-exclamation-triangle"></i> Most changes require fully restarting the bot before they will take effect.
    </div>
    <div class="panel-body">
        <button class="btn btn-primary">Save Changes</button>
    </div>
</div>