<div class="row">
	<div class="col-md-12" style="height: 300px">
  		<div id="editor" style="width: 100%; height: 100%"></div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<a id="execute" href="/repl/execute" class="btn btn-default">Execute</a>
	</div>
</form>
<div class="row">
	<div class="col-md-12" id="output">
	
	</div>
</div>
<script src="//cdn.jsdelivr.net/ace/1.1.7/min/ace.js"></script>
<script src="//cdn.jsdelivr.net/ace/1.1.7/min/ext-searchbox.js"></script>
<script src="//cdn.jsdelivr.net/ace/1.1.7/min/ext-spellcheck.js"></script>
<script src="//cdn.jsdelivr.net/ace/1.1.7/min/ext-static_highlight.js"></script>
<script src="//cdn.jsdelivr.net/ace/1.1.7/min/mode-javascript.js"></script>
<script src="//cdn.jsdelivr.net/ace/1.1.7/min/mode-lisp.js"></script>
<script src="//cdn.jsdelivr.net/ace/1.1.7/min/mode-lua.js"></script>
<script src="//cdn.jsdelivr.net/ace/1.1.7/min/theme-textmate.js"></script>
<script src="//cdn.jsdelivr.net/ace/1.1.7/min/worker-javascript.js"></script>
<script type="text/javascript">
$(function() {
	var editor = ace.edit("editor");
    editor.setTheme("ace/theme/textmate");
    editor.getSession().setMode("ace/mode/javascript");
	editor.resize();
	
	var $execute = $('#execute');
	var $output  = $('#output');
	
	$execute.on('click', function(e) {
		e.preventDefault();
		
		$.ajax({
			url: $execute.attr('href'),
			type: 'post',
			data: {
				script: editor.getValue()
			},
			success: function(response) {
				$output.html('<pre>' + JSON.stringify(response, null, '\t') + '</pre>')
			}
		});
	});
});
</script>