{% extends 'layout.html.twig' %}

{% block content %}
<div class="row">
	<div class="col-md-8" style="height: 300px">
		<h4>REPL</h4>
		<select class="form-control" id="script_type" name="scriptType">
			<option>Javascript</option>
		</select>
		<br>
  		<div id="editor" style="width: 100%; height: 100%"></div>
        <div style="display: none">
            <textarea id="code-body"></textarea>
        </div>
		<br>
		<a class="form-control btn btn-primary" id="execute" href="/repl/execute">Execute</a>
	</div>
	<div class="col-md-4">
		<h5>Output</h5>
		<pre id="output">
		</pre>
	</div>
</div>
<script src="//cdn.jsdelivr.net/ace/1.1.7/min/ace.js"></script>
<script src="//cdn.jsdelivr.net/ace/1.1.7/min/ext-searchbox.js"></script>
<script src="//cdn.jsdelivr.net/ace/1.1.7/min/ext-spellcheck.js"></script>
<script src="//cdn.jsdelivr.net/ace/1.1.7/min/ext-static_highlight.js"></script>
<script src="//cdn.jsdelivr.net/ace/1.1.7/min/mode-javascript.js"></script>
<script src="//cdn.jsdelivr.net/ace/1.1.7/min/theme-textmate.js"></script>
<script src="//cdn.jsdelivr.net/ace/1.1.7/min/worker-javascript.js"></script>
<script type="text/javascript">
$(function() {
	var modeMap = {
		"Javascript": "ace/mode/javascript",
	};
	var $typeField = $('#script_type');
	var $bodyField = $('#code-body');
	var editor = ace.edit("editor");
    editor.setTheme("ace/theme/textmate");
	editor.resize();
	editor.setValue($bodyField.val());
	editor.getSession().on('change', function() {
		$bodyField.val(editor.getValue());
	});
	
	$typeField.on('change', function() {
		editor.getSession().setMode(modeMap[$typeField.val()]);
	}).change();
	
	var $execute = $('#execute');
	var $output  = $('#output');
	
	$execute.on('click', function(e) {
		e.preventDefault();
		
		$.ajax({
			url: $execute.attr('href'),
			type: 'post',
			data: {
				script: editor.getValue(),
				scriptType: $typeField.val()
			},
			success: function(response) {
				$output.html(JSON.stringify(response, null, '  '))
			}
		});
	});
});
</script>
{% endblock %}
