<script type="text/javascript">
$(function() {
	var $connectBtn = $('#connect-button');
	var $disconnectBtn = $('#disconnect-button');
	var $connectingBtn = $('#connecting-button');
	var statusReq;
	var statusTimeout;
	function updateStatus() {
		if (statusReq) {
			statusReq.abort();
		}
		
		if (statusTimeout) {
			clearTimeout(statusTimeout);
			statusTimeout = null;
		}
		
		statusReq = $.ajax({
			url: "/status",
			dataType: "json",
			success: function(response) {
				statusTimeout = setTimeout(updateStatus, 5000)
				if (response.Connected) {
					$disconnectBtn.show();
					$connectBtn.add($connectingBtn).hide();
				} else if (response.Connecting) {
					$connectingBtn.show();
					$disconnectBtn.add($connectBtn).hide();
				} else {
					$connectBtn.show();
					$disconnectBtn.add($connectingBtn).hide();
				}
			},
			error: function() {
				$connectBtn.show();
				$disconnectBtn.add($connectingBtn).hide();
				statusTimeout = setTimeout(updateStatus, 5000)
			},
			complete: function() {
				statusReq = null;
			}
		});
	}
	
	updateStatus();
	
	var $postLinks = $('.post-action');
	$postLinks.on('click', function(e) {
		e.preventDefault();
		
		var url = $(this).attr('href');
		$.ajax({
			url: url,
			type: 'post',
			success: function() {
				window.location.reload();
			}
		});
	});
	
	var $reinit = $('#reinit').tooltip({
		container: 'body'
	});
	$reinit.on('click', function(e) {
		e.preventDefault();
		
		if (confirm('Are you sure you want to reinitialize all scripts?')) {
			var url = $(this).attr('href');
			$.ajax({
				url: url,
				type: 'post',
				success: function() {
					window.location.reload();
				}
			})
		}
	});
});
</script>