<script type="text/javascript">
$(function() {
	var $appStatus = $('#app-status');
	var statusReq;
	var statusTimeout;
	function updateStatus() {
		if (statusReq) {
			statusReq.abort();
		}
		
		if (statusTimeout) {
			clearTimeout(statusTimeout);
			statusTimeout = null;
		}
		
		statusReq = $.ajax({
			url: "/status",
			dataType: "json",
			success: function(response) {
				statusTimeout = setTimeout(updateStatus, 30000)
				if (response.Connected) {
					if ($appStatus.hasClass('connected')) {
						return;
					}
					$appStatus.addClass('connected');
				} else {
					$appStatus.removeClass('connected');
				}
			},
			error: function() {
				$appStatus.removeClass('connected');
				statusTimeout = setTimeout(updateStatus, 15000)
			},
			complete: function() {
				statusReq = null;
			}
		});
	}
	
	updateStatus();
});
</script>