<div class="row">
	<div class="col-md-8">
		<h4>Dashboard</h4>
	</div>
	<div class="col-md-4">
		<h5>Terminal</h5>
		<pre id="terminal-log" class="history">{{ .history }}</pre>
        <h5>Events</h5>
        <pre id="event-log" class="history"></pre>
	</div>
</div>
<script type="text/javascript">
$(function() {
    var $eventLog = $('#event-log');
    var $terminalLog = $('#terminal-log');
    var es = new EventSource('/event');
    es.addEventListener("irc.WILDCARD", function(e) {
        var data = JSON.parse(e.data);
        $eventLog.append(data.Raw + "\n");
        $eventLog[0].scrollTop = $eventLog[0].scrollHeight;
    });
    es.addEventListener("cli.OUTPUT", function(e) {
        $terminalLog.append(e.data + "\n");
        $terminalLog[0].scrollTop = $terminalLog[0].scrollHeight;
    });

    $eventLog[0].scrollTop = $eventLog[0].scrollHeight;
    $terminalLog[0].scrollTop = $terminalLog[0].scrollHeight;
});
</script>