body {
	padding-top: 20px;
}

#app-status {
	height: 20px;
	width: 20px;
	margin: auto;
	border-radius: 100%;
	background-color: #B3162B;
	float: right;
	margin-left: 10px;
}

#app-status.connected {
	background-color: #00B30A;
}