body {
	padding-top: 20px;
	padding-bottom: 50px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	vertical-align: middle;
}

#app-status {
	height: 20px;
	width: 20px;
	margin: auto;
	border-radius: 100%;
	background-color: #B3162B;
	float: right;
	margin-left: 10px;
}

#app-status.connected {
	background-color: #00B30A;
}

.code-preview {
	font-family: Menlo,Monaco,Consolas,monospace;
	max-width: 300px; 
	text-overflow: ellipsis; 
	white-space: nowrap; 
	overflow: hidden; 
	font-size: 13px;
	color: #333;
}