{% extends 'layout.html.twig' %}

{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h4>New Webhook</h4>
	</div>
	<div class="col-sm-6">
		<a class="btn btn-default btn-sm pull-right" href="https://squircy.com/resources/webhooks.html" target="_blank">Documentation <i class="fa fa-external-link"></i></a>
	</div>
</div>
<form method="post" action="/webhook/create">
<div class="row">
	<div class="col-md-7">
		<div class="row">
			<div class="col-md-5 form-group">
				<label for="hook-title">Title</label>
				<input class="form-control" id="hook-title" name="title" required placeholder="A Descriptive Title">
			</div>
			<div class="col-md-4 form-group">
				<label for="signature">Signature Header</label>
				<input class="form-control" id="signature" name="signature" required placeholder="Header name containing payload signature" value="X-Signature">
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<button class="form-control btn btn-primary">Create</button>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		{% include 'webhook/_more_info.html.twig' %}
	</div>
</div>

</form>
{% endblock %}
