---
---

@import "{{ site.theme }}";

body {
    color: #333;
}

code, pre {
    color: #222;
}

a code {
    color: #39c;
}

footer a.author {
	display: block;
	font-size: 1.2em;
}

header ul.menu {
    list-style-type: none;
    border: none;
    height: auto;
    background: none;
    li {
        border: none;
        width: 100%;
        display: block;
        &:first-child a {
            border-radius: 0;
        }
        a {
            color: #39c;
            text-align: left;
            height: 40px;
            line-height: 40px;
            font-size: 1em;
            &:active {
                background: none;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media print, screen and (max-width: 960px) {
    header {
        height: 210px;
    }
}

@media print, screen and (max-width: 720px) {
    header {
        height: 340px;
    }
}