{% extends 'layout.html.twig' %}

{% block content %}
<form method="post" action="/webhook/{{ webhook.ID }}/update">
<div class="row">
	<div class="col-md-4 form-group">
	    <label for="title">Title</label>
		<input class="form-control" id="title" name="title" placeholder="Title" value="{{ webhook.Title }}">
	</div>
	<div class="col-md-3 form-group">
    	<label for="signature">Signature Header</label>
		<input class="form-control" id="signature" name="signature" placeholder="Signature Header" value="{{ webhook.SignatureHeader }}">
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-4">
		<button class="form-control btn btn-primary">Save</button>
	</div>
</div>
</form>
{% endblock %}