{% extends 'layout.html.twig' %}

{% block content %}
<form method="post" class="form form-horizontal" action="/script/{{ script.ID }}/update">
<div class="row">
	<div class="col-md-4">
  		<input class="form-control" name="title" placeholder="Title" value="{{ script.Title }}">
	</div>
	<div class="col-md-4">
  		<select class="form-control" id="script_type" name="type">
			<option{% if script.Type == "Javascript" %} selected{% endif %}>Javascript</option>
		</select>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-12" style="height: 400px">
  		<div id="editor" style="width: 100%; height: 100%"></div>
		<input type="hidden" name="body" id="script_body" value="{{ escape(script.Body) }}">
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-4">
		<button class="form-control btn btn-primary">Save</button>
	</div>
</div>
</form>
{% endblock %}

{% block additional_javascripts %}
{% include "script/_javascripts.html.twig" %}
{% endblock %}
