<form method="post" class="form form-horizontal" action="/script/{{ .Script.ID }}/update">
<div class="row">
	<div class="col-md-4">
  		<input class="form-control" name="title" placeholder="Title" value="{{ .Script.Title }}">
	</div>
	<div class="col-md-4">
  		<select class="form-control" id="script_type" name="type">
			<option{{ if eq .Script.Type "Javascript" }} selected{{ end }}>Javascript</script>
			<option{{ if eq .Script.Type "Lua" }} selected{{ end }}>Lua</script>
			<option{{ if eq .Script.Type "Lisp" }} selected{{ end }}>Lisp</script>
		</select>
	</div>
</div>
<div class="row">
	<div class="col-md-12" style="height: 500px">
  		<div id="editor" style="width: 100%; height: 100%"></div>
		<input type="hidden" name="body" id="script_body" value="{{ .Script.Body }}">
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<button class="btn btn-primary">Save</button>
	</div>
	<div class="col-md-4">
		<a id="execute" href="/script/{{ .Script.ID }}/execute" class="btn btn-default">Execute</a>
	</div>
</form>
<div class="row">
	<div class="col-md-12" id="output">
	
	</div>
</div>
{{ template "script/_javascripts" }}
<script type="text/javascript">
$(function() {
	var $execute = $('#execute');
	var $output  = $('#output');
	
	$execute.on('click', function(e) {
		e.preventDefault();
		
		$.ajax({
			url: $execute.attr('href'),
			success: function(response) {
				$output.html('<pre>' + JSON.stringify(response) + '</pre>')
			}
		});
	});
});
</script>